html, body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

p, ol {
  line-height: 22px;
  font-size: 1.1em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.2fr 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "welcome welcome"
    "divider-one divider-one"
    "search-bar search-bar"
    "divider-two divider-two"
    "register attention"
    "footer footer";
}

.divider-one {
  grid-area: divider-one;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.divider-two {
  grid-area: divider-two;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

header {
  grid-area: header;
  background-color: black;
  color: white;
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 5;
}

nav {
  grid-area: nav;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0;
  margin-top: 1em;
  margin-left: 7em;
  margin-right: 7em;
}

.title {
  margin: 0;
}

.welcome {
  grid-area: welcome;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-left: 7em;
  margin-right: 7em;
  margin-top: 2em;
}

.search-bar {
  grid-area: search-bar;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 7em;
  margin-right: 7em;
}

.search-bar > form {
  display: flex;
}

.flex-stretch {
  flex-grow: 0;
}

.search-bar > form > input {
  padding: 1%;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1em;
  width: 50%;
}

.search-bar > form > button {
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1em;
}

.button {
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1em;
  padding: 5px;
}

.advanced-search {
  float: left;
  margin-top: 2%;
  margin-bottom: 2%;
}

.attention {
  grid-area: attention;
  grid-column-start: 4;
  grid-column-end: 5;
  justify-self: end;
  margin-right: 7em;
}

.register {
  gird-area: register;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 7em;
  margin-right: 7em;
}

footer {
  grid-area: footer;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: black;
  color: white;
  margin-top: 4em;
}
