.main_container {
  margin: 0;
}

.header {
  background-color: #4d0066;
  padding-left: 5%;
  display: relative;
  top: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

.title {
  font-size: 2em;
  color: white;
  margin: 0;
}

.title:hover {
  opacity: 0.8;
}

.footer {
  background-color: #4d0066;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.footer > h2 {
  margin: 0;
}
