.form {
    padding: 1.5% 4% 1.5% 4%;
    display: grid;
    color: white;
    grid-gap: 30px;
    grid-template-columns: auto 2fr 1fr 1fr;
    grid-template-areas:
      "header header . ."
      "addressLabel address . ."
      "publicationDateLabel publicationDate . ."
      "expirationDateLabel expirationDate . ."
      "ownerLabel owner . ."
      "commentLabel comment . ."
      "fileHashLabel fileHash . .";
}

.form > h2 {
    grid-area: header;
}

.form > input {
    border-radius: 20px;
    border: none;
    padding: 1rem;
    font-size: 1rem;
}

.form > button {
    width: 150px;
    border-radius: 20px;
    padding: 1rem;
    border: none;
    transition: width 0.2s;
    justify-self: center;
  }
  
.form > button:hover {
    width: 200px;
    cursor: pointer;
}

.addressLabel {
    grid-area: addressLabel;
}

.address {
    grid-area: address;
}

.publicationDateLabel {
    grid-area: publicationDateLabel;
}

.publicationDate {
    grid-area: publicationDate;
}

.expirationDateLabel {
    grid-area: expirationDateLabel;
}

.expirationDate {
    grid-area: expirationDate;
}

.ownerLabel {
    grid-area: ownerLabel;
}

.owner {
    grid-area: owner;
}

.fileHashLabel {
    grid-area: fileHashLabel;
}

.fileHash {
    grid-area: fileHash;
}

.commentLabel {
    grid-area: commentLabel;
}

.comment {
    grid-area: comment;
}