.form {
  padding: 1.5% 4% 1.5% 4%;
  display: grid;
  color: white;
  grid-gap: 30px;
  grid-template-areas:
    "title title"
    "dateLabel date"
    "typeOfIPLabel typeOfIP"
    "fileLabel file"
    ". ."
    "back next";
  grid-template-rows: auto auto auto auto 50px auto;
}

.form > h2 {
  grid-area: title;
}

.dateLabel {
  grid-area: dateLabel;
}

.date {
  grid-area: date;
  border-radius: 20px;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}

.typeOfIPLabel {
  grid-area: typeOfIPLabel;
}

.typeOfIP {
  grid-area: typeOfIP;
}

.fileLabel {
  grid-area: fileLabel;
}

.file {
  grid-area: file;
  font-size: 1rem;
}

.form > button {
  width: 7rem;
  border-radius: 20px;
  padding: 1rem;
  border: none;
  transition: width 0.2s;
  justify-self: center;
}

.back {
  grid-area: back;
}

.next {
  grid-area: next;
}
