.form {
  padding: 1.5% 4% 1.5% 4%;
  display: grid;
  color: black;
  grid-gap: 30px;
  grid-template-areas:
    "title title"
    "dateLabel date"
    "typeOfIPLabel typeOfIP"
    "fileLabel file"
    ". ."
    "back next";
  grid-template-rows: auto 3em 5em 3em 50px auto;
  font-family: 'Noto Sans', sans-serif;
  height: 85vh;
}

.form > h2 {
  grid-area: title;
  color: #0061FF;
}

.dateLabel {
  grid-area: dateLabel;
}

.date {
  grid-area: date;
  border: 0.5px solid grey;
  padding-left: 10px;
  font-size: 1em;
}

.typeOfIPLabel {
  grid-area: typeOfIPLabel;
}

.typeOfIP {
  grid-area: typeOfIP;
  border: 0.5px solid grey;
  padding-left: 10px;
  padding-top: 0.5em;
}

.fileLabel {
  grid-area: fileLabel;
}

.file {
  grid-area: file;
  font-size: 1em;
  border: 0.5px solid grey;
  padding-top: 10px;
  padding-left: 10px;
}

.form > button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #0061FF;
  color: white;
  transition: transform 0.5s;
  justify-self: center;
}

.form > button:hover {
  cursor: pointer;
  transform:scale(1.1,1.1);
}

.back {
  grid-area: back;
}

.next {
  grid-area: next;
}

.loading {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
}
