.form {
  padding: 1.5% 4% 1.5% 4%;
  display: grid;
  color: white;
  grid-template-areas:
    "title title"
    "commentLabel comment"
    ". . "
    "back next";
  grid-template-rows: auto auto 50px auto;
}

.form > h2 {
  grid-area: title;
}

.form > input {
  border-radius: 20px;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}

.commentLabel {
  grid-area: commentLabel;
  margin-top: 100px;
}

.comment {
  grid-area: comment;
  margin-top: 100px;
}

.form > button {
  width: 150px;
  border-radius: 20px;
  padding: 1rem;
  border: none;
  transition: width 0.2s;
  justify-self: center;
}

.form > button:hover {
  width: 200px;
  cursor: pointer;
}

.next {
  grid-area: next;
}

.back {
  grid-area: back;
}
