.form {
  padding: 1.5% 4% 1.5% 4%;
  display: grid;
  color: black;
  grid-gap: 30px;
  grid-template-areas:
    "title title"
    "addressLabel address"
    "dateLabel date"
    "typeOfIPLabel typeOfIP"
    "patentTitleLabel patentTitle"
    "address1Label address1"
    "address2Label address2"
    "addressCityLabel city"
    "addressCountyLabel county"
    "addressPostcodeLabel postcode"
    "addressCountryLabel country"
    ". . "
    "back next";
  grid-template-rows: auto auto auto auto auto auto 50px auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black; 
}

.form > h2 {
  grid-area: title;
  color: #0061FF;
}

.form > input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 1rem;
  font-size: 1rem;
}

.addressLabel {
  grid-area: addressLabel;
}

.address {
  grid-area: address;
}

.dateLabel {
  grid-area: dateLabel;
}

.date {
  grid-area: date;
}

.typeOfIPLabel {
  grid-area: typeOfIPLabel;
}

.typeOfIP {
  grid-area: typeOfIP;
}

.patentTitleLabel {
  grid-area: patentTitleLabel;
}

.patentTitle {
  grid-area: patentTitle;
}

.address1Label {
  grid-area: address1Label;
}

.address1 {
  grid-area: address1;
}

.address2Label {
  grid-area: address2Label;
}

.address2 {
  grid-area: address2;
}

.addressCityLabel {
  grid-area: addressCityLabel;
}

.city {
  grid-area: city;
}

.addressCountyLabel {
  grid-area: addressCountyLabel;
}

.county {
  grid-area: county;
}

.addressPostcodeLabel {
  grid-area: addressPostcodeLabel;
}

.postcode {
  grid-area: postcode;
}

.addressCountryLabel {
  grid-area: addressCountryLabel;
}

.country {
  grid-area: country;
}

.form > button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #0061FF;
  color: white;
  transition: transform 0.5s;
  justify-self: center;
}

.form > button:hover {
  cursor: pointer;
  transform:scale(1.1,1.1);
}

.next {
  grid-area: next;
}

.back {
  grid-area: back;
}
