.form {
  padding: 1.5% 4% 1.5% 4%;
  display: grid;
  color: black;
  grid-gap: 30px;
  grid-template-areas:
    "title title"
    "addressLabel address"
    "dateLabel date"
    "typeOfIPLabel typeOfIP"
    "markDescLabel markDesc"
    ". . "
    "back next";
  grid-template-rows: auto auto auto auto auto 50px auto;
}

.form > h2 {
  grid-area: title;
  color: #0061FF;
}

.form > input {
  border: 0.5px solid grey;
  padding-left: 10px;
  font-size: 1rem;
  height: 3em;
}

.addressLabel {
  grid-area: addressLabel;
}

.address {
  grid-area: address;
}

.dateLabel {
  grid-area: dateLabel;
}

.date {
  grid-area: date;
}

.typeOfIPLabel {
  grid-area: typeOfIPLabel;
}

.typeOfIP {
  grid-area: typeOfIP;
}

.markDescLabel {
  grid-area: markDescLabel;
}

.markDesc {
  grid-area: markDesc;
}

.form > button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #0061FF;
  color: white;
  transition: transform 0.5s;
  justify-self: center;
}

.form > button:hover {
  cursor: pointer;
  transform:scale(1.1,1.1);
}

.next {
  grid-area: next;
}

.back {
  grid-area: back;
}

@media only screen and (max-width: 890px) {
  .form {
    padding: 20px;
    display: grid;
    color: black;
    grid-gap: 30px;
    grid-template-areas:
      "title title"
      "address address"
      "date date"
      "typeOfIP typeOfIP"
      "markDesc markDesc"
      ". . "
      "back next";
    grid-template-rows: auto auto auto auto auto 50px auto;
  }
}
