.grid {
  display: grid;
  grid-template-areas:
    "image"
    "section2";
  grid-template-rows: 500px 1fr;
  grid-template-columns: auto;
}

.image {
  grid-area: image;
  background-image: url('/blockchain.png');
  background-position: 0 18%;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "paragraphs .";
  grid-template-rows: auto 1fr;
  padding: 4.5% 4% 1.5% 4%;
  grid-gap: 20px;
}

.image > h4 {
  grid-area: header;
  font-size: 2rem;
  color: white;
  /* text-shadow: 2px 2px 4px black; */
}

.paragraphs {
  grid-area: paragraphs;
}

.p1 {
  background-color: none;
  color: white;
  /* text-shadow: 2px 2px 4px black; */
}

.p2 {
  background-color: none;
  color: white;
}

.section2 {
  grid-area: section2;
}

@media only screen and (max-width: 768px) {
  .image {
    grid-area: image;
    background-image: url('/blockchain.png');
    background-position: 0% 140px;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "paragraph paragraph";
    grid-template-rows: auto 1fr;
    padding: 4.5% 4% 1.5% 4%;
    grid-gap: 20px;
  }
}
