.main_grid_container {
  display: grid;
  grid-template-areas:
    "nav"
    "welcome"
    "search"
    "register"
    "register-button"
}

.grid_item {
  margin-left: 5%;
  margin-right: 5%;
}

.main_grid_container > nav {
  margin-top: 1%;
  grid-area: nav;
}

.section_welcome {
  grid-area: welcome;
  border-bottom: 2px solid #4d0066;
}

.section_search {
  grid-area: search;
  border-bottom: 2px solid #4d0066;
  padding-bottom: 2%;
}

.section_search > form {
  margin-bottom: 2%;
  display: flex;
}

.section_search > form > input {
  transition: padding 0.5s;
  padding: 1%;
  border-radius: 5px;
  border: 1px solid #4d0066;
  font-size: 1rem;
  width: 40%;
}

.section_search > form > button {
  transition: padding 0.5s;
  padding: 1%;
  border-radius: 5px;
  border: 1px solid #4d0066;
  background-color: #4d0066;
  color: white;
  font-size: 1rem;
  margin-left: 1%;
}

.section_search > form > button:hover {
  padding: 1.5%;
}

.section_register {
  grid-area: register;
}

.button_start_register {
  grid-area: register-button;
  background-color: #4d0066;
  width: 20%;
  justify-self: center;
  padding: 1.2%;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  transition: width 0.5s;
}

.button_start_register:hover {
  width: 22%;
}
