.ipitem {
    padding: 1.5% 4% 1.5% 4%;
    color: black;
    width: 100%;
}

.viewIP {
    color: blue;
}

.viewIP:hover {
    cursor: pointer;
    opacity: 0.8;
}

.empty {
    padding: 1.5% 4% 1.5% 4%;
    color: black;
    display: grid;
}

.empty > h3 {
    justify-self: center;
    align-self: center;
    text-decoration: underline;
    text-transform: uppercase;
}