.form {
    padding: 1.5% 4% 1.5% 4%;
    display: grid;
    color: black;
    grid-gap: 30px;
    grid-template-columns: auto 2fr 1fr 1fr;
    grid-template-areas:
      "header header . ."
      "addressLabel address . ."
      "publicationDateLabel publicationDate . ."
      "expirationDateLabel expirationDate . ."
      "ownerLabel owner . ."
      "titleLabel title . ."
      "inventorAddressLabel inventorAddress . ."
      "imageLabel image . .";
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.form > h2 {
    grid-area: header;
    color: #0061FF;
}

.form > input {
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

.form > button {
    width: 150px;
    border-radius: 20px;
    padding: 1rem;
    border: none;
    transition: width 0.2s;
    justify-self: center;
  }
  
.form > button:hover {
    width: 200px;
    cursor: pointer;
}

.addressLabel {
    grid-area: addressLabel;
}

.address {
    grid-area: address;
}

.publicationDateLabel {
    grid-area: publicationDateLabel;
}

.publicationDate {
    grid-area: publicationDate;
}

.expirationDateLabel {
    grid-area: expirationDateLabel;
}

.expirationDate {
    grid-area: expirationDate;
}

.ownerLabel {
    grid-area: ownerLabel;
}

.owner {
    grid-area: owner;
}

.imageLabel {
    grid-area: imageLabel;
}

.linkImage {
    width: auto;
    height: auto;
    grid-area: image;
}

.image {
    height: 300px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.image:hover {
    cursor: pointer;
}

.titleLabel {
    grid-area: titleLabel;
}

.title {
    grid-area: title;
}

.inventorAddressLabel {
    grid-area: inventorAddressLabel;
}

.inventorAddress {
    grid-area: inventorAddress;
}