.main_grid_container_1 {
  display: grid;
  grid-template-areas:
    "nav"
    "form";
}

.grid_item_1 {
  margin-left: 5%;
  margin-right: 5%;
}

.main_grid_container_1 > nav {
  grid-area: nav;
  margin-top: 1%;
  justify-content: center;
}

.section_form_1 {
  grid-area: form;
  margin-top: 2%;
  display: grid;
  grid-template-areas:
    "title_header_1 title_header_1"
    "accountLabel account"
    "dateLabel date"
    "typeOfIPLabel typeOfIP"
    "fileLabel file"
    "submit submit";
}

.section_form_1 > h2 {
  grid-area: title_header_1;
}

.accountLabel {
  grid-area: accountLabel;
  margin-top: 3%;
}

.account {
  grid-area: account;
  font-size: 1rem;
  padding: 2%;
  border: 1px solid #4d0066;
  border-radius: 5px;
}

.dateLabel {
  grid-area: dateLabel;
  margin-top: 3%;
}

.date {
  grid-area: date;
}

.section_form_1 > input {
  padding: 1%;
  border-radius: 5px;
  border: 1px solid #4d0066;
  font-size: 1rem;
  margin-top: 3%;
}

.typeOfIP {
  grid-area: typeOfIP;
  margin-top: 3%;
  padding: 1%;
}

.typeOfIPLabel {
  grid-area: typeOfIPLabel;
  margin-top: 3%;
}

.file {
  grid-area: file;
}

.fileLabel {
  grid-area: fileLabel;
}

.section_form_1 > button {
  grid-area: submit;
  background-color: #4d0066;
  width: 50%;
  padding: 2%;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  transition: width 0.5s;
  justify-self: center;
  width: 8rem;
}

.section_form_1 > button:hover {
  width: 10rem;
}

.main_grid_container_2 {
  display: none;
  grid-template-areas:
    "nav"
    "form";
}

.grid_item_2 {
  margin-left: 5%;
  margin-right: 5%;
}

.main_grid_container_2 > nav {
  grid-area: nav;
  margin-top: 1%;
  justify-content: center;
}

.section_form_2 {
  grid-area: form;
  margin-top: 2%;
  display: grid;
  grid-template-areas:
    "title_header title_header"
    "label1 name"
    "label2 surname"
    "label3 radioButtons"
    "label4 fileEntry"
    "back next";
}

.test {
  grid-area: label1;
  margin-top: 3%;
}

.testEntry {
  grid-area: name;
  font-size: 1rem;
  padding: 2%;
  border: 1px solid #4d0066;
  border-radius: 5px;
}

.label2 {
  grid-area: label2;
  margin-top: 3%;
}

.surname {
  grid-area: surname;
}

.section_form_2 > input {
  padding: 1%;
  border-radius: 5px;
  border: 1px solid #4d0066;
  font-size: 1rem;
  margin-top: 3%;
}

.radioButtons {
  grid-area: radioButtons;
  margin-top: 3%;
}

.label3 {
  grid-area: label3;
  margin-top: 3%;
}

.fileEntry {
  grid-area: fileEntry;
}

.label4 {
  grid-area: label4;
}

.section_form_2 > button {
  background-color: #4d0066;
  width: 50%;
  padding: 2%;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  transition: width 0.5s;
  width: 8rem;
  justify-self: center;
}

.section_form_2 > button:hover {
  width: 10rem;
}

.back {
  grid-area: back;
}

.next {
  grid-area: next;
}

.section_form_2 > h2 {
  grid-area: title_header;
}

.main_grid_container_patent {
  display: none;
}

.main_grid_container_design {
  display: none;
}
