.form {
  padding: 1.5% 4% 1.5% 4%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto 2fr 1fr 1fr;
  grid-template-rows: 0.2fr 50px 50px 1fr;
  grid-template-areas:
    ". ."
    "title title"
    "ipAddressBar button"
    ". .";
  height: 80vh;
  color: black;
}

.form > h2 {
  grid-area: title;
}

.button {
  width: 150px;
  height: 51px;
  border: none;
  border-radius: 5px;
  background-color: #0061FF;
  color: white;
  transition: transform 0.5s;
  justify-self: left;
  overflow: hidden;
  font-size: 1em;
}

.button:hover {
  cursor: pointer;
  transform:scale(1.1,1.1);
}

.form > input {
  border: 0.5px solid grey;
  padding: 1em;
  font-size: 1em;
  outline: none;
}

.ipAddressBar {
  grid-area: ipAddressBar;
  width: 35rem;
}

.button {
  grid-area: button;
}

@media only screen and (max-width: 890px) {
  .form {
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 0.2fr 20px 50px 50px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      ". ."
      "title title"
      "ipAddressBar ipAddressBar"
      "button button"
      ". .";
    height: 80vh;
    color: black;
  }

  .form > h2 {
    grid-area: title;
    font-size: 1.2em;
  }

  .ipAddressBar {
    grid-area: ipAddressBar;
    width: 100%;
  }
}