.form {
    padding: 1.5% 4% 1.5% 4%;
    display: grid;
    color: black;
    grid-gap: 30px;
    grid-template-columns: auto 2fr 1fr 1fr;
    grid-template-areas:
      "title title . ."
      "addressLabel address . ."
      "publicationDateLabel publicationDate . ."
      "expirationDateLabel expirationDate . ."
      "ownerLabel owner . ."
      "imageLabel image . ."
      "markDescLabel markDesc . .";
}

.form > h2 {
    grid-area: title;
    color: #0061FF;
}

.form > input {
    border-radius: 5px;
    border: 0.5px solid grey;
    padding: 10px;
    font-size: 1rem;
}

.addressLabel {
    grid-area: addressLabel;
}

.address {
    grid-area: address;
}

.publicationDateLabel {
    grid-area: publicationDateLabel;
}

.publicationDate {
    grid-area: publicationDate;
}

.expirationDateLabel {
    grid-area: expirationDateLabel;
}

.expirationDate {
    grid-area: expirationDate;
}

.ownerLabel {
    grid-area: ownerLabel;
}

.owner {
    grid-area: owner;
}

.imageLabel {
    grid-area: imageLabel;
}

.linkImage {
    width: auto;
    height: auto;
    grid-area: image;
}

.image {
    height: 300px;
    padding: 5px;
    border: 0.5px solid grey;
    border-radius: 5px;
}

.image:hover {
    cursor: pointer;
}

.markDescLabel {
    grid-area: markDescLabel;
}

.markDesc {
    grid-area: markDesc;
}